body{
    background-image: url('./../images/homeImage.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    
}

.divForm{
    /* border:thin dotted black; */
    width: 40%;
    padding:15px;
    margin:50px;
    margin-top: 130px;
}

.form{
    text-align: center;
}

h1{
    text-align: center;
}

#logo{
    height: 150px;
    margin-left: 30%;
}

.formElem{
    margin:5px;
    border-radius: 5px;
    padding: 5px;
}